 border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

#red { /* this selects any elements with the red id */
  color: #f00;
}

#orange{
  color: #ffa500;
}

#yellow{
  color: #ff0;
}

#green{
  color: #00bc3f;
}

#blue{
  color: #06f;
}

#indigo{
  color: #8a2be2;
}
#violet{
  color: #d300c9;
}